<h1>Welcome to {{ hotelName }} Hotel</h1>
<!--   //variable numberrooms is bound to innertext || property binding -->
<div [hidden]="hideRooms">
  <div
    [ngStyle]="{ color: room.availableRooms ? 'magenta' : 'orange' }"
    [innerText]="numberofRooms"
  ></div>
</div>

<!-- optional chaining   -->
{{ room?.availableRooms ?? "no rooms" }}
<!-- Built-In Directives --ngIf,ngFor  -->
<!-- {{roomList | json}}  json pipe=use only for debugging-->
<div *ngIf="room.availableRooms">
  Rooms
  <!-- {{roomList}} -->
  <table>
    <tr>
      <th>Index</th>
      <th>Even Odd</th>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>Room Amenities</th>
      <th>Room CheckIn</th>
      <th>Room CheckOut</th>
      <th>Room rating</th>
    </tr>

    <tr
      [ngClass]="e ? 'even' : 'odd'"
      *ngFor="let room of roomList | slice:0:3; let e = even; let o = odd; let i = index"
    >
      <td>{{ i | percent }}</td>
      <td [ngClass]="{ even: e, odd: o }">{{ e ? "Even" : "Odd" }}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.price | currency:'INR'}}</td>
      <td>{{ room.amenities | titlecase}}</td><!-- |==pipe operator Uppercase,titlecase  slice:0:2 = start from 0 index and move 2 next position -->
      <td>{{ room.checkinTime | date}}</td>
      <td>{{ room.checkoutTime | date : 'dd/mm/yyyy'}}</td> <!-- |==pipe operator  -->
      <td>{{ room.rating | number :'1.1-2'}}</td>
    </tr>
  </table>
</div>

<button (click)="toggle()">Toggle</button>
<!--   //banana syntax () -->
<!--  -->